/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: #e0e0e0 !important
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #e0e0e0;
} 

/* Provide sufficient contrast against white background */
a {
    color: white;
}

.btn-primary {
    color: white;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
 /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}


.img-fluid {
    margin: auto;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    margin: 0;
}


.figure {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:auto!important;
    margin-right:auto!important;
}


.img-fluid {

}


header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


        
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  margin-right:0;
  margin-left:0;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.border-top {
    border-top: 1px solid transparent !important;
}

.navbar{
    width:100%
}
